* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(33, 20, 207, 0.781);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 6px 2px white;
    /* color: rgb(0, 0, 0);
    background: linear-gradient(338deg, rgba(8,56,90,1) 0%, rgba(212,18,18,1) 39%, rgba(24,158,178,0.8727941860337886) 90%); */
}

#text {
    display: block;
    margin-left: 5%;
    border-radius: 15px;
    border-style: inset;
}

.btn {
    height: 50px;
    width: 100px;
    margin-left: 5%;
    margin-top: 15px;
    text-align: left;
    padding-bottom: 10px;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
}

.btn img {
    width: 40%;
    height: 80%;
    margin-top: 5px;
}

.btn:hover {
    background-color: #5237c1;
    color: aliceblue;
}
